.habilidades{
    margin-top: 5%;
}

h2.titulo{
    font-size: 38px;
    text-align: center;
}

.habilidades h1{
    text-align: center;
    font-size: 3rem;
}

section.habilidades{
    padding: 40px 4%;  
}

section.habilidades .flex{
    gap: 60px;
    justify-content: center;
}

.habilidades .habilidades-box{
    padding: 40px;
    border: 2px solid #000000;
    border-radius:20px ;
    margin-top: 45px;
    transition: .2s;
}

.habilidades .habilidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #0000005b;
}

.habilidades .habilidades-box i{
    font-size: 70px;
    color: rgb(54, 2, 102);
}

.habilidades .habilidades-box p{
    font-size: 28px;
    margin: 15px 0;
}