.titulo span{
    color: darkorchid;
} 
.formulario h1{
    text-align: center;
    font-size: 3rem;
}

section.formulario{
    padding: 80px 4%;  
}

form{
    max-width: 500px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
form input::placeholder{
    color: rgb(255, 255, 255);
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

form textarea{
    resize: none;  
    padding-bottom: 100px;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: rgb(60, 21, 97);
    color: rgb(255, 255, 255);
    font-weight: 700;
    cursor: pointer;
}

.btn-enviar input:hover{
    box-shadow: 0px 0px 8px  rgb(92, 18, 161); 
    transform: scale(1.05);
}