@media screen and (max-width:1020px){
    .menu, .btn-contato{
        display: none;
    }

    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    .topoSite .flex{
        flex-direction: column-reverse;
    }

    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txtSobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .img-sobre {
        text-align: center;
    }
    .img-sobre img{
        width: 100%;
    }

    .btn-social{
        text-align: center;
    }
    section.topoSite{
        padding:20px 8% ;
    }

    .topoSite h1{
        font-size: 30px;
    }

    section.topoSite .flex{
        gap: 40px;
    }

    section.habilidades{
        padding: 40px 8%;  
    }

}